<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Messaging App</title>

    <script src="/Scripts/Extra/jquery-2.1.4.min.js"></script>
    <link href="/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Content/datepicker.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-timepicker.min.css" />
    <link href="/Content/dataTables.tableTools.css" rel="stylesheet" />
    <link href="/Content/dropdowns-enhancement.css" rel="stylesheet" />
    <link href="/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="/Content/scheduler.min.css" rel="stylesheet" />
    <link href="/Content/Custom.css" rel="stylesheet" />

    <style type="text/css">
        body {
            font-size: 12px;
        }

        #overlay img {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 11000;
        }
    </style>
    <link href="../Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="/Scripts/Extra/bootstrap.js"></script>
    <script src=" http://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../Scripts/Extra/jquery.dataTables.js"></script>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/AngularUI/ui-router.min.js"></script>
    <script src="/Scripts/angular-sanitize.min.js"></script>

    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/apiurl.js"></script>
    <script src="/Scripts/angular-cookies.min.js"></script>

    <!-- Customer Controller Information-->
    <script src="../Scripts/Pages/User/UserController.js"></script>
    <script src="../Scripts/Pages/User/UserService.js"></script>

    <script src="/Scripts/Pages/Common.js"></script>
</head>
<body>
    <div id="wrapper" ng-app="CustomerMsgApp" ng-controller="usercontroller">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Innes</a>
                <a class="navbar-brand" id="CustMenu" href="customer.html" style="display:none">Customer</a>
                <a class="navbar-brand" id="MesgMenu" href="messagelog.html" style="display:none">Message Log</a>
                <a class="navbar-brand" id="UsrMenu" href="user.html" style="display:none">User</a>
                <script type="text/javascript">
                    var arrlocl = localStorage['role'].toString().split(',');

                    $.each(arrlocl, function (a) {
                        if (arrlocl[a] == "1") {
                            $('#CustMenu').show();
                        }
                        if (arrlocl[a] == "2") {
                            $('#MesgMenu').show();
                        }
                        if (arrlocl[a] == "3") {
                            $('#UsrMenu').show();
                            $('#MesgMenu').show();
                            $('#CustMenu').show();
                        }
                    })
                </script>

            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <button type="button" class="btn btn-default btn-sm" style="margin:10px 20px 0px 0px;">
                        <a href="login.html"><span class="glyphicon glyphicon-off"></span> Log out</a>
                    </button>
                </li>
            </ul>
        </nav>
        <!--<div class="container">-->
        <div class="page-header">
            <h3>User Detail</h3>
            <button type="button" style="float:right;margin-top: 10px;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#adduser"><i class="glyphicon glyphicon-plus"></i> Add</button><br /><br />
        </div>
        <!--<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User Detail</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="UserListTBL" style="max-width:100%!important;overflow-y:scroll">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Password</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>MobileNo</th>
                                <th>CreateDate</th>
                                <th class="text-center" width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="user in Users">
                            <tr class="">
                                <td>{{user.UserName}}</td>
                                <td>{{user.Password}}</td>
                                <td>{{user.FullName}}</td>
                                <td>{{user.Email}}</td>
                                <td>{{user.MobileNo}}</td>
                                <td>{{user.CreateDate}}</td>
                                <td>
                                    <button type="button" ng-click="edit(user)">
                                        <span class="glyphicon glyphicon-pencil">
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--</div>-->

        <div class="modal fade" id="adduser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearDetail()">×</button>
                        <h4 class="modal-title">Add New User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>UserName</label>
                                    <input type="text" class="form-control" name="UserName" ng-model="UserName" id="txtUserName" placeholder="UserName" ng-blur="checkUserNameExist()" />
                                </div>
                                <div class="form-group">
                                    <label>FirstName</label>
                                    <input type="text" class="form-control" name="FirstName" ng-model="FirstName" id="txtFirstName" placeholder="FirstName" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="Email" ng-model="Email" id="txtEmail" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label>RoleName</label>
                                    <div ng-repeat="rolename in RoleName">
                                        <input id="{{rolename.Name}}" type="checkbox" value="{{rolename.Id}}" ng-checked="selection.indexOf(rolename.Id) > -1" ng-click="toggleSelection(rolename.Id)" />
                                        <label for="{{rolename.Name}}"></label>
                                        {{rolename.Name}}
                                    </div>
                                    <span id="roleerrorMsg" style="color:red;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="Password" ng-model="Password" id="txtPassword" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <label>LastName</label>
                                    <input type="text" class="form-control" name="LastName" ng-model="LastName" id="txtLastName" placeholder="LastName" />
                                </div>

                                <div class="form-group">
                                    <label>MobileNo</label>
                                    <input type="text" class="form-control" name="MobileNo" ng-model="MobileNo" id="txtMobileNo" placeholder="MobileNo" />
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearDetail()">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="Save()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</body>
</html>
